# Hostinger Node.js configuration
PassengerEnabled on
PassengerAppRoot /home/u204926461/domains/daniel8moraes.com/public_html
PassengerAppType node
PassengerStartupFile server.js
PassengerNodejs /opt/alt/alt-nodejs22/root/usr/bin/node
PassengerAppEnv production
