# Hostinger Node.js configuration
PassengerEnabled on
PassengerAppRoot /home/u971819315/domains/daniel8moraes.com/public_html
PassengerAppType node
PassengerStartupFile server.js
PassengerNodejs /usr/bin/node
